# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries in Data Science
* Table of popular development environment open source tools used in Data Science
* Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. SQL
1. Java
1. Julia
1. Scala
1. C and C++

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
1. Pandas
1. SciPy
1. Matplotlib
1. SciKit-Learn

| Data Science Tools | 
|--------------------|
|      RStudio       |  
|      Jupyter       |  
|      Spyder        |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Monique Brogan